html {
  font-family: RaftSans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#header {
  position: fixed;
  top: -150px;
  transition: top 0.3s ease-in-out;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  color: #000;
  opacity: 10;
}

#header.visible {
  top: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8fbfc;
}

/* Header Styles */
header {
  /* background-color: #03a9f4; */
  padding: 20px;
}

header nav {
  display: flex;
  justify-content: right;
  padding-right: 5rem;
  align-items: center;
}

header nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 20px;
}

header nav a.nav-button {

  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

/* Hero Section Styles */
#hero {
  position: relative;
  height: 100vh;
}

#background-image {
  background-image: url("./bg_transparent.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;

}

#hero-content {
  position: absolute;
  top: 5%;
  left: 10% !important;
  width: 80% !important;

  text-align: center;
  color: rgb(255, 255, 255);

}

h2.font-bold.centered {
  margin-left: 20%;
}

#hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

#learn-more-button {
  background-color: #f8fbfc;
  color: #03a9f4;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 20px;
}

/* Overlay Styles */
#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}

#overlay.visible {
  visibility: visible;
}

#overlay-content {
  background-color: #f8fbfc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#overlay-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

#overlay-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

#close-button {
  background-color: #03a9f4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 20px;
}

/* About Section Styles */
#about,
#services {
  background-color: #f8fbfc;
  padding: 20px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}

#about .about-text,
.text,
#services .services-text {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 100;
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity));
}

#about h2,
#services h2 {
  margin-bottom: 20px;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.about-img img {
  height: 70vh;
}

/* Services Section Styles */
#services {
  background-color: #f8fbfc;
  padding: 20px;
  text-align: center;
}

#services h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#services ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#services li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Contact Section Styles */
#contact {
  margin: 10% 0;
  background-color: #dadada;
  padding: 20px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  height: 40vh;
  border: 1.5px solid rgba(0, 0, 0, 0.842);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a.reach-us {
  text-decoration: none;
  padding: 9px;
  border: 1px solid grey;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
}

#contact h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0;
  padding: 5px;
}



/* Footer Styles */
footer {
  color: rgb(51, 51, 51);
  padding: 20px;
  text-align: center;
}

.font-bold {
  font-weight: 800 !important;
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 45rem;
  font-family: Raft, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons div {
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.buttons a {
  text-decoration: none;
}

.buttons div.red-button {
  background-color: brown;
  color: white;
  border-bottom: 3px solid red;
}


.buttons div.white-button {
  background-color: #fff;
  color: brown;
  border-bottom: 3px solid brown;

}

h2.titre {
  font-family: Raft, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-weight: 700;
  letter-spacing: 1.5;
  font-size: 3em !important;
}

.hereos-profiles {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-top: 3rem;
  justify-content: center;
}

.hereos-profiles div {
  width: 25%;
  margin: 0 1rem;
}

.hereos-profiles div img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  transition: .3s ease-in-out;
}

.hereos-profiles div img:hover {
  border-radius: 0px;
  box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.692), -3px -2px 1px rgba(0, 0, 0, 0.692);
}

/* 
Why choose us section 
*/
section.why-us,
section.why-us-odd {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  height: 80vh;
}

section.why-us .half-width,
section.why-us-odd .half-width {
  width: 50%;
}

section.why-us .half-width:first-child {
  padding-left: 5%;
}

.half-width h2.titre {
  padding-left: 10%;
}

.half-width img {
  border: 2px solid rgb(190, 190, 190);
  object-fit: fill;
  width: 100%;
  height: 50vh;

}

@media (min-width:700px) and (max-width:1024px) {
  #contact {
    margin: 5% 1% 0 1% !important;
  }
}

@media (max-width:1024px) {
  h2.font-bold.centered {
    margin-left: 0;
  }

  div.buttons a:nth-child(2) {
    display: none;
  }

  div.buttons a:nth-child(1) {
    width: 100%;
  }

  .buttons div.red-button {
    border-bottom: 0px;
  }

  div.buttons div {
    width: 100%;
  }

  #about,
  #services {
    width: 95%;
    margin: 0;
    padding: 0;
  }

  #about h2.titre,
  #services h2.titre {
    width: 90%;
    margin-left: 5%;
  }

  .hereos-profiles div {
    width: 48%;
    margin: 1rem 1%;
  }

  .hereos-profiles {
    flex-wrap: wrap;
  }

  section.why-us {
    flex-direction: column;
    height: auto;
  }

  section.why-us-odd {
    flex-direction: column-reverse;
    height: auto;
  }

  section.why-us .half-width,
  section.why-us-odd .half-width {
    width: 90%;
  }

  section.why-us .half-width:first-child {
    padding-left: 0;
  }

  .half-width h2.titre {
    padding-left: 1%;
  }

  .half-width p.text {
    margin: 0 0 2rem 0;
    text-align: center;
    width: 100%;
  }

  #contact {
    margin: 5% 1%;
    padding: 15px;
    width: 90%;
    border: 0;
    height: 50vh;
  }

  #contact h2 {
    font-family: monospace;
  }
  a.nav-link{
    display: none;
  }
  header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
#background-image {
height: 100%;
}

.hereos-profiles div img {
  width: 100%;
  height: 200px;
}

#contact p.text{
  width: 100%;
  text-align: justify;
  margin-left: 0;

}
.about-img img{
  width: 100%;
}
.services-text, .about-text, .text{
 width: 100%;
 margin: 0;
}
#about h2, #services h2{
  line-height: 1.3;
}

}
h2.titre{
  text-align: center;
}